<div class="circle-cursor flex justify-center min-h-screen">
  <img class="w-full object-cover h-screen" src="/assets/backgrounds/bg2.jpg">
  <div class="absolute gap-10 mx-5 mt-20 md:mt-40 mb-24" *ngIf="recipe">
    <div class="group transition-all bg-gray-50 rounded-lg block shadow-2xl z-10 first:z-20 last:z-0 first:-mx-2 last:mx-2">
      <div class="p-10">
        <h1 class="text-4xl mb-5"><b>{{ recipe.name }}</b></h1>
        <p class="max-w-5xl">
          <b class="inline-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            {{ recipe.eta }}min
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 15.536c-1.171 1.952-3.07 1.952-4.242 0-1.172-1.953-1.172-5.119 0-7.072 1.171-1.952 3.07-1.952 4.242 0M8 10.5h4m-4 3h4m9-1.5a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            {{ recipe.price }}€</b>
        </p>
        <ul class="list-disc list-inside my-2">
          <li *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.amount }} {{ ingredient.name }}
          </li>
        </ul>
        <p class="max-w-5xl whitespace-pre-line">{{ recipe.description }}</p>
        <div class="w-full -ml-4 flex justify-center -mb-16 mt-5">
          <button routerLink="/recipes" class="circle-cursor bg-black text-white block rounded-full h-14 w-48 shadow-2xl group-hover:scale-150 hover:bg-red-100 hover:text-black transition-all focus:bg-red-50 focus:text-black">Cook something else</button>
        </div>
      </div>
    </div>
  </div>
</div>


