<div class="w-full h-screen circle-cursor">
  <ng-container *ngFor="let option of options">
    <div [ngClass]="'overflow-x-hidden group h-full float-left hover:bg-' + option.color + '-200 w-1/' + options.length + ' items-center grid grid-cols-1 grid grid-rows-4 justify-items-center pt-36 bg-' + option.color + '-100 transition-all'">
      <div class="object-contain w-2/3 filter blur-xs group-hover:blur-none group-hover:w-9/12 row-span-3 mx-auto">
        <img [src]="option.imageUrl" [alt]="option.imageUrl"/>
      </div>
      <button (click)="choseSide(end, option.value)" [ngClass]="value == option.value ? 'bg-' + option.color + '-200 group-hover:bg-' + option.color + '-300 circle-cursor row-span-4 w-full md:w-36 h-10 md:h-16 transition-all rounded-full mx-auto shadow-2xl' : 'circle-cursor focus:bg-' + option.color + '-300 focus:text-black row-span-4 w-10 md:w-16 h-10 md:h-16 group-hover:w-full md:group-hover:w-36 hover:bg-white hover:text-black transition-all bg-black rounded-full text-white mx-auto shadow-2xl'">
        <div class="inline">+</div><div [ngClass]="value == option.value ? 'inline' : 'hidden group-hover:inline'"> {{ option.name }}</div>
      </button>
    </div>
  </ng-container>
</div>
<div #end></div>
