<div class="circle-cursor flex justify-center min-h-screen">
  <img class="w-full object-cover h-screen" src="/assets/backgrounds/bg3.jpg">
  <div class="absolute gap-10 mx-5 mt-20 md:mt-40 pb-24 h-auto">
    <div class="group transition-all bg-gray-50 rounded-lg block shadow-2xl z-10 first:z-20 last:z-0 first:-mx-2 last:mx-2">
      <div class="p-10">
        <h1 class="text-4xl mb-5"><b>About</b></h1>
        <p class="max-w-5xl whitespace-pre-line">
          {{ text }}
        </p>
        <div class="w-full -ml-4 flex justify-center -mb-16 mt-5">
          <button routerLink="/cook" class="circle-cursor bg-black text-white block rounded-full h-10 md:h-14 w-48 shadow-2xl group-hover:scale-150 hover:bg-red-100 hover:text-black transition-all focus:bg-red-50 focus:text-black">Now, let's cook</button>
        </div>
      </div>
    </div>
  </div>
</div>
