<div class="circle-cursor w-full h-screen flex justify-center items-center">
  <img class="w-full h-full" src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80">
  <div class="absolute justify-center">
    <div class="bg-gray-50 w-full rounded-lg p-4 block">
      <h1 class="text-4xl mb-3"><b>A noodle soup</b></h1>
      <p class="w-96 line-clamp-4">Who doesn't like a good old soup with some stuff and some other stuff? You don't? Well, then search for another recipe!</p>
    </div>
    <button (click)="scroll(end)" class="no-cursor block mx-auto mt-10 rounded-full h-16 w-52 shadow-2xl bg-gray-50 hover:bg-black hover:text-white transition-all focus:bg-gray-200 focus:text-black">Show me the recipe</button>
    <button (click)="scrollToTop()" class="no-cursor block mx-auto mt-10 rounded-full h-16 w-52 bg-opacity-50 hover:bg-opacity-50 bg-white hover:bg-black text-black hover:text-white border-2 border-white hover:border-black rounded font-semibold">Not really</button>
  </div>
</div>
<div #end></div>
