<div class="w-full h-24 fixed z-40">
  <div class="float-left flex h-full w-1/3 justify-center items-center">
    <div class="text-lg m-auto">
      <h1 class="text-4xl text-title">cookable</h1>
      <h2 class="text-xl text-test">A site for finding recipes</h2>
    </div>
  </div>
  <div class="float-right flex h-full w-2/3 justify-center items-center bg-black">
    <div class="text-lg m-auto text-white">
      <a class="mx-5 hover:underline cursor-pointer">Find a Recipe</a>
      <a class="mx-5 hover:underline cursor-pointer">About</a>
      <a class="mx-5 hover:underline cursor-pointer">Terms</a>
    </div>
  </div>
</div>
