<div class="w-full h-12 md:h-24 fixed z-40 top-0">
  <div class="float-left flex h-full w-1/3 justify-center items-center">
    <div routerLink="/recipes" class="my-auto">
      <h1 class="text-lg md:text-4xl text-title text-center md:text-left cursor-pointer">cookable</h1>
      <h2 class="hidden md:block text-xl cursor-pointer">A site for finding recipes</h2>
    </div>
  </div>
  <div class="float-right flex h-full w-2/3 justify-center items-center bg-black">
    <div class="text-md md:text-lg m-auto text-white circle-cursor">
      <a routerLink="/recipes" class="mx-2 md:mx-5 cursor-pointer">Find a Recipe</a>
      <a routerLink="/about" class="mx-2 md:mx-5 cursor-pointer">About</a>
      <a routerLink="/terms" class="mx-2 md:mx-5 cursor-pointer">Terms</a>
    </div>
  </div>
</div>
